<h1>Listing anomalies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anomalies.each do |anomaly| %>
      <tr>
        <td><%= anomaly.name %></td>
        <td><%= link_to 'Show', anomaly %></td>
        <td><%= link_to 'Edit', edit_anomaly_path(anomaly) %></td>
        <td><%= link_to 'Destroy', anomaly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anomaly', new_anomaly_path %>
