<h2>Complete registration</h2>

<%= form_for(@user) do |f| %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

	<div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

	<div><%= f.label :last_name %><br />
  <%= f.text_field :last_name %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

	<div>
		<%= f.hidden_field :uid, :value => @user.uid %>
		<%= f.hidden_field :token, :value => @user.token %>
		<% @user.roles.each do |role| %>
			<%= f.hidden_field "role_ids", :value => role.id, :multiple => true %>
		<% end %>
	</div>

  <div><%= f.submit "Sign up" %></div>
<% end %>
