<p id="notice"><%= notice %></p>

<p>
  <strong>Credits:</strong>
  <%= @student.credits %>
</p>

<p>
  <strong>Openpay:</strong>
  <%= @student.openpay_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
