<p id="notice"><%= notice %></p>

<p>
  <strong>Monday:</strong>
  <%= @preference.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @preference.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @preference.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @preference.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @preference.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @preference.saturday %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @preference.sunday %>
</p>

<p>
  <strong>Online:</strong>
  <%= @preference.online %>
</p>

<p>
  <strong>Only office:</strong>
  <%= @preference.only_office %>
</p>

<%= link_to 'Edit', edit_preference_path(@preference) %> |
<%= link_to 'Back', preferences_path %>
