<h1>Listing registered_anomaly_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registered_anomaly_statuses.each do |registered_anomaly_status| %>
      <tr>
        <td><%= registered_anomaly_status.name %></td>
        <td><%= link_to 'Show', registered_anomaly_status %></td>
        <td><%= link_to 'Edit', edit_registered_anomaly_status_path(registered_anomaly_status) %></td>
        <td><%= link_to 'Destroy', registered_anomaly_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registered anomaly status', new_registered_anomaly_status_path %>
