<%= form_for(@postal_code) do |f| %>
  <% if @postal_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postal_code.errors.count, "error") %> prohibited this postal_code from being saved:</h2>

      <ul>
      <% @postal_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :state_id %><br>
    <%= f.number_field :state_id %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.number_field :city_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
