<!DOCTYPE html>
<html lang="es" ng-app="Geek">
<head>
  <title>Geek</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield :head_style %>
  <%= javascript_include_tag 'application' %>
  <%= yield :head_script %>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="RootController">

  <%= yield %>
  <%= javascript_include_tag 'scripts/display' %>
</body>
</html>
