<!DOCTYPE html>
<html lang="es" ng-app="Geek">
<head>
  <title>Geek | Agenda clases particulares con los mejores tutores a domicilio</title>
  <meta charset="utf-8" />
  <meta name='description' content='Geek es una plataforma online que conecta a estudiantes con tutores. Agenda clases particulares en diversas materias como matemáticas, inglés, guitarra o GRE.'/>
  <meta name='keywords' content='clases particulares, clases online, inglés, alemán, Frances, matemáticas' />
  <meta property="og:site_name" content="Geek Education"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://geek.education"/>
  <meta property="og:image" content="http://res.cloudinary.com/hwgegjkad/image/upload/v1426023677/geek_wrl3bo.png"/>
  <meta property="og:title" content="Geek | Encuentra y agenda clases particulares con tu tutor ideal"/>
  <meta property="og:description" content="Geek es una plataforma online que conecta a estudiantes con tutores. Agenda clases particulares en diversas materias como matemáticas, inglés, guitarra o GRE."/>
  
  <% if current_user %>
      <meta name="viewport" content="width=1200, initial-scale=1.0, minimum-scale=0, maximum-scale=1.0, user-scalable=yes">
  <% else %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <% end %>
  <link rel="icon" href="/assets/favicon.png" />
  <%= stylesheet_link_tag 'application', 'styles/student_display', media: 'all' %>
  <%= yield :head_style %>
  <%= javascript_include_tag 'application',
                             'student/app',
                             'student/controllers/appointmentHistoryCtrl',
                             'student/controllers/blockedUserCtrl',
                             'student/controllers/commonCtrl',
                             'student/controllers/calendarCtrl',
                             'student/controllers/faqCtrl',
                             'student/controllers/messageCtrl',
                             'student/controllers/myAppointmentsCtrl',
                             'student/controllers/myTutorsCtrl',
                             'student/controllers/navigationCtrl',
                             'student/controllers/paymentCtrl',
                             'student/controllers/profileCtrl',
                             'student/controllers/resumeCtrl',
                             'student/controllers/rootCtrl',
                             'student/controllers/searchTutorCtrl',
                             'student/controllers/tutorProfileCtrl',
                             'student/services/anomalyService',
                             'student/services/appointmentService',
                             'student/services/authService',
                             'student/services/availabilityService',
                             'student/services/categoryService',
                             'student/services/countyService',
                             'student/services/forgotService',
                             'student/services/messageService',
                             'student/services/paymentService',
                             'student/services/profileService',
                             'student/services/resumeService',
                             'student/services/reviewsService',
                             'student/services/sessionService',
                             'student/services/tutorService',
                             'student/directives/modalAnomalyDrctv',
                             'student/directives/modalAppointmentRequestDrctv',
                             'student/directives/modalDetailDrctv',
                             'student/directives/modalMessageDrctv',
                             'student/directives/modalReviewDrctv',
                             'student/directives/modalReviewDetailDrctv',
                             'student/directives/modalTutorDetailDrctv',
                             'lib/angular/angular-form-alert-directive',
                             'lib/angular/angular-alert-message-directive',
                             'lib/angular/angular-image-adjustment',
                             'lib/angular/angular-onready-directive',
                             'lib/angular/angular-spinner',
                             'lib/angulartics',
                             'lib/angulartics-mixpanel',
                             'student/filters/dateTranslateFilter',
                             'student/filters/timestampTranslateFilter'%>
  <%= yield :head_script %>
<!-- start Mixpanel --><script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
mixpanel.init("90492316b9450cb841068894aa2cd97e", {api_host: "https://api.mixpanel.com"});</script><!-- end Mixpanel -->


<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?2rABbea4fybzURDR8porASgQ5TJTMFZj";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->

  <%= csrf_meta_tags %>
</head>

<body>

  <%= yield %>

  <div id="overlay" ng-show="showOverlay"></div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=es"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.6/angular-strap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.6/angular-strap.tpl.min.js"></script>
  <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
  <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script> 

</body>
</html>
