<!DOCTYPE html>
<html lang="es" ng-app="Geek">
<head>
  <title>Geek</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag    'application', 'styles/student_display', media: 'all' %>
  <%= yield :head_style %>
  <%= javascript_include_tag 'application',
                             'student/app',
                             'student/controllers/rootCtrl',
                             'student/controllers/navigationCtrl',
                             'student/controllers/searchTutorCtrl',
                             'student/services/countyService',
                             'student/services/categoryService',
                             'student/services/tutorService',
                             'lib/angular/angular-onready-directive'%>
  <%= yield :head_script %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%= yield %>

</body>
</html>
