<!DOCTYPE html>
<html lang="es" ng-app="Geek">
<head>
  <title>Geek | Agenda clases particulares con los mejores tutores a domicilio</title>
  <meta charset="utf-8" />
  <meta name='description' content='Geek es una plataforma online que conecta a estudiantes con tutores. Agenda clases particulares en diversas materias como matemáticas, inglés, guitarra o GRE.'/>
  <meta name='keywords' content='clases particulares, clases online, inglés, alemán, Frances, matemáticas' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="google-site-verification" content="3jGmlew_VznFscH7ATmeQNvfsIK879R7M0WBxj9kPVs" />
  <link rel="icon" href="/assets/favicon.png" />
  <%= stylesheet_link_tag    'application', 'styles/student_display', media: 'all' %>
  <%= yield :head_style %>
  <%= javascript_include_tag 'application',
                             'student/app',
                             'student/controllers/appointmentHistoryCtrl',
                             'student/controllers/blockedUserCtrl',
                             'student/controllers/commonCtrl',
                             'student/controllers/calendarCtrl',
                             'student/controllers/faqCtrl',
                             'student/controllers/messageCtrl',
                             'student/controllers/myAppointmentsCtrl',
                             'student/controllers/myTutorsCtrl',
                             'student/controllers/navigationCtrl',
                             'student/controllers/paymentCtrl',
                             'student/controllers/profileCtrl',
                             'student/controllers/resumeCtrl',
                             'student/controllers/rootCtrl',
                             'student/controllers/searchTutorCtrl',
                             'student/controllers/tutorProfileCtrl',
                             'student/services/anomalyService',
                             'student/services/appointmentService',
                             'student/services/authService',
                             'student/services/availabilityService',
                             'student/services/categoryService',
                             'student/services/countyService',
                             'student/services/forgotService',
                             'student/services/messageService',
                             'student/services/paymentService',
                             'student/services/profileService',
                             'student/services/resumeService',
                             'student/services/reviewsService',
                             'student/services/sessionService',
                             'student/services/tutorService',
                             'student/directives/modalAnomalyDrctv',
                             'student/directives/modalAppointmentRequestDrctv',
                             'student/directives/modalDetailDrctv',
                             'student/directives/modalMessageDrctv',
                             'student/directives/modalReviewDrctv',
                             'student/directives/modalReviewDetailDrctv',
                             'student/directives/modalTutorDetailDrctv',
                             'lib/angular/angular-form-alert-directive',
                             'lib/angular/angular-alert-message-directive',
                             'lib/angular/angular-image-adjustment',
                             'lib/angular/angular-onready-directive',
                             'lib/angular/angular-spinner',
                             'student/filters/dateTranslateFilter',
                             'student/filters/timestampTranslateFilter'%>
  <%= yield :head_script %>
  <%= csrf_meta_tags %>
</head>

<body>

  <%= yield %>

  <div id="overlay" ng-show="showOverlay"></div>
  <div ng-modal-tutor-detail ></div>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=es"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.6/angular-strap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.6/angular-strap.tpl.min.js"></script>
  <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
  <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>

</body>
</html>
