<!DOCTYPE html>
<html lang="es" ng-app="Geek">
<head>
  <title>Geek - Tutor</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="/assets/favicon.ico" />
  <%= stylesheet_link_tag    'application', 'styles/tutor_display' , media: 'all' %>
  <%= yield :head_style %>
  <%= javascript_include_tag 'application',
                             'tutor/app',
                             'tutor/controllers/appointmentHistoryCtrl',
                             'tutor/controllers/balanceCtrl',
                             'tutor/controllers/blockedUserCtrl',
                             'tutor/controllers/calendarCtrl',
                             'tutor/controllers/messageCtrl',
                             'tutor/controllers/navigationCtrl',
                             'tutor/controllers/paymentCtrl',
                             'tutor/controllers/profileCtrl',
                             'tutor/controllers/reviewsCtrl',
                             'tutor/controllers/resumeCtrl',
                             'tutor/controllers/rootCtrl',
                             'tutor/services/anomalyService',
                             'tutor/services/appointmentService',
                             'tutor/services/authService',
                             'tutor/services/availabilityService',
                             'tutor/services/balanceService',
                             'tutor/services/categoryService',
                             'tutor/services/countyService',
                             'tutor/services/messageService',
                             'tutor/services/paymentService',
                             'tutor/services/profileService',
                             'tutor/services/resumeService',
                             'tutor/services/reviewsService',
                             'tutor/services/sessionService',
                             'tutor/directives/modalAnomalyDrctv',
                             'tutor/directives/modalDetailDrctv',
                             'tutor/directives/modalMessageDrctv',
                             'lib/angular/angular-form-alert-directive',
                             'lib/angular/angular-alert-message-directive',
                             'lib/angular/angular-image-adjustment',
                             'lib/angular/angular-spinner',
                             'lib/angular/ng-currency',
                             'tutor/filters/dateTranslateFilter',
                             'tutor/filters/timestampTranslateFilter'%>

  <%= yield :head_script %>
  <%= csrf_meta_tags %>
</head>

<body>

    <%= yield %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
    <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>

</body>
</html>
