<!DOCTYPE html>
<html lang="es" ng-app="Geek">
<head>
  <title>Geek | Agenda clases particulares con los mejores tutores a domicilio</title>
  <meta charset="utf-8" />
  <meta name='description' content='Geek es una plataforma online que conecta a estudiantes con tutores. Agenda clases particulares en diversas materias como matemáticas, inglés, guitarra o GRE.'/>
  <meta name='keywords' content='clases particulares, clases online, inglés, alemán, Frances, matemáticas'/>
  <meta charset="utf-8" />
  <% if current_user %>
      <meta name="viewport" content="width=1200, initial-scale=1.0, minimum-scale=0, maximum-scale=1.0, user-scalable=yes">
  <% else %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <% end %>
  <link rel="icon" href="/assets/favicon.png" />
  <%= stylesheet_link_tag    'application', 'styles/tutor_display' , media: 'all' %>
  <%= yield :head_style %>
  <%= javascript_include_tag 'application',
                             'tutor/app',
                             'tutor/controllers/appointmentHistoryCtrl',
                             'tutor/controllers/balanceCtrl',
                             'tutor/controllers/blockedUserCtrl',
                             'tutor/controllers/calendarCtrl',
                             'tutor/controllers/commonCtrl',
                             'tutor/controllers/faqCtrl',
                             'tutor/controllers/messageCtrl',
                             'tutor/controllers/navigationCtrl',
                             'tutor/controllers/paymentCtrl',
                             'tutor/controllers/profileCtrl',
                             'tutor/controllers/reviewsCtrl',
                             'tutor/controllers/resumeCtrl',
                             'tutor/controllers/rootCtrl',
                             'tutor/services/anomalyService',
                             'tutor/services/appointmentService',
                             'tutor/services/authService',
                             'tutor/services/availabilityService',
                             'tutor/services/balanceService',
                             'tutor/services/categoryService',
                             'tutor/services/countyService',
                             'tutor/services/forgotService',
                             'tutor/services/messageService',
                             'tutor/services/paymentService',
                             'tutor/services/profileService',
                             'tutor/services/resumeService',
                             'tutor/services/reviewsService',
                             'tutor/services/sessionService',
                             'tutor/directives/modalAnomalyDrctv',
                             'tutor/directives/modalDetailDrctv',
                             'tutor/directives/modalMessageDrctv',
                             'lib/angular/angular-form-alert-directive',
                             'lib/angular/angular-alert-message-directive',
                             'lib/angular/angular-image-adjustment',
                             'lib/angular/angular-spinner',
                             'lib/angular/ng-currency',
                             'tutor/filters/dateTranslateFilter',
                             'tutor/filters/timestampTranslateFilter'%>

  <%= yield :head_script %>
  <!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?2rABbea4fybzURDR8porASgQ5TJTMFZj";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->
  <%= csrf_meta_tags %>
</head>

<body>

    <%= yield %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.6/angular-strap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.6/angular-strap.tpl.min.js"></script>
    <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
    <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>

</body>
</html>
